/** @format */
.container {
  display: grid;
  gap: 5px;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 150px 50px 750px;
  border: 1px solid black;
}

.sidebar {
  grid-column: 1/2;
  grid-row: 1/4;
  background-color: #0ea5e9;
  color: white;
}
.Dashboard-area {
  display: flex;

  justify-content: center;
  align-items: center;
}

.list-area {
  display: flex;
  justify-content: center;
  align-items: center;
}
ul,
li {
  list-style-type: none;
}

li {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-list {
  padding: 20px;
}
img {
  width: 50px;

  height: 50px;
  padding: 15px;
}
.header {
  grid-column: 2/3;

  background-color: grey;
}
.title-area {
  display: flex;
  justify-content: space-around;
}

.main-content {
  display: grid;
  grid-row: 3/4;
  gap: 5px;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(3, 1fr);
}

.card-area {
  display: grid;

  gap: 15px;
  padding: 10px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-row: 1/4;
  background-color: aliceblue;
}
.card {
  border: 1px solid black;
  background-color: #ffffff;
  height: 200px;
  width: 350px;
  color: black;
  text-align: center;
}

.trending-area {
  display: grid;
  gap: 15px;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-row: 1/4;
  background-color: aliceblue;
}

.card-trending {
  border: 1px solid black;
  background-color: #ffffff;
  height: 300px;
  width: 250px;
  color: black;
  text-align: center;
}
