/** @format */
.container {
  display: grid;
  gap: 5px;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 140px 50px 750px;
}

.sidebar {
  grid-column: 1/2;
  grid-row: 1/6;
  background-color: #0ea5e9;
  color: white;
}
.Dashboard-area {
  display: flex;

  justify-content: center;
  align-items: center;
}

.list-area {
  display: grid;
  grid-template-columns: repeat(2 1fr);
}
ul {
  list-style-type: none;
}

.icon-list {
  grid-column: 1/2;
}

.icon-list li {
  display: flex;
  justify-content: center;
  align-items: center;
}
.name-list {
  display: grid;
  font-size: larger;
  font-weight: bolder;

  grid-column: 2/3;
}

.name-list span {
  display: flex;
  justify-content: center;
  align-items: center;
}
.text-list {
  padding: 20px;
}
img {
  width: 50px;

  height: 50px;
  padding: 15px;
}
.header {
  grid-column: 2/3;
  padding: 25px;
  background-color: white;
  border: none;
}

.header-row1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-row2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-area {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-area {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 550px;
  height: 30px;
  border-radius: 15px;
  background-color: rgb(242, 245, 248);
}

.title-area {
  display: flex;
  justify-content: space-around;
  align-items: center;
  grid-row: 2/3;
  grid-column: 1/3;
  background-color: rgb(242, 245, 248);
  font-size: 20px;
}

.profile-picture {
  border: 3px solid orange;
  border-radius: 100px;
}
.hi-class {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
}
#hi-span {
  font-weight: bolder;
}

#name-span {
  font-weight: bolder;
  font-size: 1.2rem;
}
.button-area {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.button-area button {
  width: 100px;
  height: 40px;
  border-radius: 20px;
  color: white;
  font-weight: bold;
  background-color: #0ea5e9;
  border: none;
}

.main-content {
  display: grid;
  grid-row: 3/4;
  gap: 10px;

  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(4, 1fr);
  background-color: rgb(242, 245, 248);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-area {
  display: grid;
  gap: 15px;
  padding: 10px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 20px repeat(3, 1fr);
  grid-row: 3/4;
  background-color: rgb(242, 245, 248);
}
.card {
  border-left: 8px solid orange;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #ffffff;
  height: 150px;
  width: 350px;
  padding: 20px;
  color: black;
  text-align: justify;
}
.card img {
  width: 30px;
  height: 20px;
  padding: 0px;
}

#yourprojects,
#Announcements,
#Trending {
  font-size: 18px;
  font-weight: 700;
}
.reaction-icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.title {
  font-weight: bold;
}

.trending-area {
  display: grid;
  gap: 15px;
  padding: 10px;
  grid-template-columns: 1fr;
  grid-template-rows: 20px 1fr 20px 1fr;
  grid-row: 3/4;
  background-color: rgb(242, 245, 248);
}

.card-trending {
  border-radius: 3px;
  background-color: #ffffff;
  height: 300px;
  width: 220px;
  color: black;
  padding: 25px;
  text-align: left;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-trending li {
  display: flex;
  justify-content: center;
  align-items: center;
}
.trending-para {
  border-bottom: 2px solid rgb(238, 234, 234);
  padding: 0px;
  font-size: 12px;
  text-align: justify;
}

.trending-para-last {
  border: none;
  font-size: 12px;
  text-align: justify;
}

.filler {
  filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(270deg)
    brightness(103%) contrast(100%);
}
